<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="css/profile.css"
      media="screen,projection"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9c66029b87.js"
      crossorigin="anonymous"
      defer
    ></script>
    <title>Carrito</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
<body>
  <header>
    <ul class="header-list">
      <li class="list-item none"></li>
      <li class="list-item">
        <div class="link"><a href="/prod">Products</a></div>
      </li>
      <li class="list-item">
        <div class="link"><a href="/cart">Cart</a></div>
      </li>
      <li class="list-item">
        <div class="fixed-action-btn">
          <a 
            class="btn-floating tooltipped red" 
            href="/logout"
            data-position="left"
            data-tooltip="Logout"
          >
            <i class="material-icons">exit_to_app</i></a
          >
        </div>
      </li>
    </ul>
  </header>
  <main>
    <% if (cart) {%> 
      <div class="productos">
        <h2 class="azul">Vista de Carrito</h2>
        <div class="cards" id="cards">
          <% for (const prod of cart) { %>
            <article id=<%=prod?._id%> class="container-card">
              <div class="card">
                <img src=<%=prod?.imgUrl%> alt=<%=prod?.title%>/>
                <div class="card-body">
                  <h4 class="card-title"><%=prod?.title%></h4>
                  <div class="card-text">Precio: $<%=prod?.price%></div>
                  <div class="card-text">Stock: <%=prod?.cant%></div>
                </div>
              </div>
            </article>
          <% } %>
        </div>
      </div>
    <% } %>

    <div class="form delete"></div>
    
  </main>
</body>
</html>